.searchPage * {
  margin: 0;
  padding: 0;
}

.createButton {
  font-weight: bold;
  color: black;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0px;
}
.nodeDescription {
  font-size: 20px;
  text-align: justify;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  height: min(50%, auto);
}

.nodeDescription > div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.input {
  background: top left url(../assets/search.svg);
  border-style: solid;
  flex: 1;
}

.input:focus,
.inputNoBackground {
  background: none;
}

.inputDiv {
  display: flex;
}

.generatePathBtn {
  width: 100%;
}
