.form {
  display: flex;
  flex-direction: column;
}

.form * {
  border: none;
  background-color: transparent;

  padding: 0;
  list-style: none;
  text-align: justify;
}

.form button,
.form select {
  width: 100%;
}
.form fieldset {
  margin: auto;
  border-bottom: 1px solid;
}

.sectionDiv {
  display: flex;
}

.sectionDiv input,
.sectionDiv textarea {
  flex: 1;
}

.submitButtonDiv {
  width: 100%;
  font-size: 20px;
}
