.modal {
  background-color: #bae6fd;
  color: #71717a;
  border-radius: 20px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 10vh;
  bottom: 20vh;
  left: 30vw;
  right: 30vw;
}

.modal ul {
  padding-left: 0;
  list-style-type: none;
}

.buttonDiv {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.button {
  box-sizing: border-box;
  width: 50%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.saveButton {
  background-color: #082f49;
  color: white;
  font-weight: bolder;
}

.backgroundBox {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.8;
}
