.modal {
  background-color: #bae6fd;
  color: #71717a;
  border-radius: 20px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 10vh;
  bottom: 20vh;
  left: 30vw;
  right: 30vw;
}

.backgroundBox {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.8;
}

.input {
  appearance: none;
  border: black solid 1px;
  width: calc(100% - 6px);
}
.textarea {
  appearance: none;
  width: calc(100% - 6px);
}

.pickDiv {
  padding: 0px 20px;
}
.pickP {
  text-align: center;
}
